canvas-draw {
 
    height: 100%;
    width: 100%;
    display: block;
    background:lightgrey;
     
    #top-toolbar{
        position: absolute;
        top: 0;
        padding-right:20px;
    }
 
    #bottom-toolbar {
        position: absolute;
        bottom: 0;
        padding-right:20px;
    }
 
}