page-login {
 
  .login-content {
    background: #FFFFFF;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 0px;
    }
 
    .login-box {
      background: #FFFFFF;
      padding: 0px 0px 0px 0px;
      margin-top: 30px;
      border-radius: 10px !important;
      border:1px solid lightgrey;
      max-width:380px;
      margin-left:auto;
      margin-right:auto;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         //border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 1px solid lightgrey!important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     
     .register-btn {
       color: #27ae60;
       font-size: 0.8em;
     }
  }
 
}