<ion-header>
 <ion-navbar text-center>
    <img src="assets/images/banner.png"/>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-grid margin-vertical>

<ion-row>
<ion-col>

<form [formGroup]="form">
<ion-list>

<ion-item no-lines *ngIf="isMain">
  <p text-center class="page_title">Update CN Status</p>
</ion-item>


 <ion-item *ngIf="isMain">
   
    <ion-label stacked>Scan an item or enter CN number manually</ion-label>
     <ion-input  [(ngModel)]="cnObject.cnNumber" formControlName="cnNumber" type="text" [readonly]="isValid"></ion-input> 
  	 <button (click)="scanBarcode()" ion-button large clear item-end><ion-icon name="camera" item-start></ion-icon></button>
  </ion-item>
  
   <ion-item *ngIf="isMain">
    <ion-label stacked>Status</ion-label>
    <ion-select placeholder="Please select" [(ngModel)]="cnObject.selectStatus" formControlName="selectStatus">
      <ion-option *ngFor="let kat of katL" [value]="kat.id">{{kat.desc}}</ion-option>
    </ion-select> 
  </ion-item>
  
  
  <ion-item no-lines *ngIf="isSuccess">
  <p text-center class="page_title">Delivery Successful</p>
</ion-item>


 <ion-item *ngIf="isSuccess">
   
    <ion-label stacked>Receiver name</ion-label>
     <ion-input  [(ngModel)]="cnObject.receivername" formControlName="receivername" type="text"></ion-input> 
  </ion-item>
  
   <ion-item *ngIf="isSuccess">
   
    <ion-label stacked>NRIC ID No</ion-label>
     <ion-input  [(ngModel)]="cnObject.nric" formControlName="nric" type="text"></ion-input> 
  </ion-item>
  
  <ion-item *ngIf="isSuccess || isSignature" no-lines>
   
    <ion-label stacked>Signature</ion-label>
     <ion-input  [(ngModel)]="cnObject.signature" formControlName="signature" type="hidden"></ion-input>  
  </ion-item>
  
  <ion-item *ngIf="isSuccess || isSignature" no-lines>  
 <img [src]="cnObject.photo" (click)="openSignaturePage()" class="signatureimg"/> 
  </ion-item>
  
  
   <ion-item no-lines *ngIf="isFail">
  <p text-center class="page_title">Delivery Unsuccessful</p>
</ion-item>

<ion-item *ngIf="isFail" >
   
    <ion-label stacked>Reason unable to deliver</ion-label>
     <ion-select placeholder="Please select" [(ngModel)]="cnObject.reason" formControlName="reason">
      <ion-option *ngFor="let res of allreason" [value]="res.pofr_desc">{{res.pofr_desc}}</ion-option>
    </ion-select> 
  </ion-item>
  
  <ion-item *ngIf="isFail" no-lines>
   
       <ion-label stacked class="page_subtitle">Please take a photo</ion-label>
    <ion-label stacked class="page_subtitle2">Photo of consignee's premise</ion-label>      	 
      	 <button (click)="photo()" ion-button large clear item-end><ion-icon name="camera" item-start></ion-icon></button>
    
  </ion-item>
  
   <ion-item *ngIf="isFail" no-lines>  
 <img [src]="cnObject.photofail" class="photofail" (click)="deletePhoto()"/> 
  </ion-item>
  
   
  <ion-item *ngIf="isFail" no-lines>
   <ion-label stacked class="page_subtitle">Capture GPS location</ion-label>
    <ion-label stacked class="page_subtitle2">Consignee's premise location</ion-label>
      	 <button (click)="loadMap()" ion-button large clear item-end><ion-icon name="locate" item-start></ion-icon></button>
    
  </ion-item>
  
  <ion-item *ngIf="isFail" no-lines>
  <div #map id="map"></div> 
  </ion-item>
  
  
 

</ion-list>
</form>

</ion-col>
</ion-row>


<ion-row padding *ngIf="isMain">
<ion-col>
  <button ion-button full icon-start (click)="clear()">
Clear</button>
</ion-col>
<ion-col *ngIf="!isCheck">
  <button ion-button full icon-start (click)="check()">
Check</button>
</ion-col>
<ion-col *ngIf="isValid">
  <button ion-button full icon-start (click)="updateCN()">
Update</button>
</ion-col>
</ion-row>

<ion-row padding *ngIf="isSuccess">
<ion-col>
  <button ion-button full icon-start (click)="cancelSuccess()">
Cancel</button>
</ion-col>
<ion-col>
  <button ion-button full icon-start (click)="save()">
Update</button>
</ion-col>
</ion-row>

<ion-row padding *ngIf="isFail">
<ion-col>
  <button ion-button full icon-start (click)="cancelSuccess()">
Cancel</button>
</ion-col>
<ion-col>
  <button ion-button full icon-start (click)="saveFail()">
Update</button>
</ion-col>
</ion-row>

</ion-grid>

</ion-content>
