<ion-header>
 <ion-navbar text-center>
    <img src="assets/images/banner.png"/>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-grid margin-vertical>

<ion-row no-padding>
<ion-col>

<ion-list>

 <ion-item no-lines>
  <p text-center class="page_title">Runsheet No : {{runsheet.rs_no}}</p>
</ion-item>

<ion-item *ngFor="let data of reportdata">
<p><strong>CN No : {{data.CN_no}}</strong></p>
<p>{{data.consignee_name}}</p>
<p class="text-wrap">{{data.consignee_address}}</p>
<p>{{data.consignee_postcode}}, {{data.consignee_city}}</p>
<p>{{data.consignee_state}}</p>
<p><a href="tel:{{data.consignee_phone}}">{{data.consignee_phone}}</a> | QTY : {{data.quantity}}</p>
<ion-icon *ngIf="data.status1 == 'Close'" name="md-checkmark-circle" item-end></ion-icon>
</ion-item>



</ion-list>

</ion-col>
</ion-row>



</ion-grid>

</ion-content>
